
<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<%if comment.user === current_user %>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<p>
  <strong>Created at </strong>
  <%= comment.created_at %>
</p>
<p>
  <strong>Last Updated</strong>
  <%= comment.updated_at %>
</p>

